# @name:APT Update
# @description:Update package lists
# @Category:APT
# @Language:Bash
# @OS:Linux

@NEXTERM:STEP "Update package lists"
sudo apt-get update -y
@NEXTERM:STEP "Upgrade packages"
sudo apt-get upgrade -y
@NEXTERM:SUCCESS "Update and upgrade completed"