# @name:APT Full Upgrade
# @description:Update package lists
# @Category:APT
# @Language:Bash
# @OS:Linux

@NEXTERM:STEP "Update package lists"
sudo apt-get update -y
@NEXTERM:STEP "Run full upgrade"
sudo apt-get dist-upgrade -y
@NEXTERM:SUMMARY "Upgrade Summary" "Action" "Full upgrade" "Status" "Requested"