# @name:APT Autoremove
# @description:Autoremove unused packages
# @Language:Bash
# @OS:Linux

@NEXTERM:STEP "Autoremove unused packages"
sudo apt-get autoremove -y
@NEXTERM:SUCCESS "Autoremove completed"