# @name:APT Clean
# @description:Clean apt caches
# @Category:APT
# @Language:Bash
# @OS:Linux

@NEXTERM:STEP "Clean apt caches"
sudo apt-get clean && sudo apt-get autoclean
@NEXTERM:SUCCESS "Caches cleaned"