# @name:APT List Upgradable
# @description:List upgradable packages
# @Category:APT
# @Language:Bash
# @OS:Linux

@NEXTERM:STEP "List upgradable packages"
apt list --upgradable
@NEXTERM:INFO "Upgradable packages listed above"