# @name:APT Unhold Package
# @description:Runs apt unhold package.
# @Category:APT
# @Language:Bash
# @OS:Linux

@NEXTERM:INPUT "Package to unhold" "package-name"
PKG=$NEXTERM_INPUT
sudo apt-mark unhold "$PKG"
@NEXTERM:SUCCESS "Unheld $PKG"