# @name:Docker List Containers
# @description:List Docker containers
# @Category:Docker
# @Language:Bash
# @OS:Linux

@NEXTERM:STEP "List Docker containers"
docker ps -a
@NEXTERM:INFO "Containers listed above"