# @name:Firewall UFW Allow SSH
# @description:Runs firewall ufw allow ssh.
# @Language:Bash
# @OS:Linux

@NEXTERM:CONFIRM "Allow OpenSSH through UFW?"
sudo ufw allow OpenSSH
@NEXTERM:SUCCESS "OpenSSH allowed"