# @name:Firewall UFW Status
# @description:Check UFW status
# @Category:Firewall
# @Language:Bash
# @OS:Linux

@NEXTERM:STEP "Check UFW status"
sudo ufw status verbose
@NEXTERM:INFO "UFW status displayed above"