# @name:Network Tracepath
# @description:Runs network tracepath.
# @Category:Network
# @Language:Bash
# @OS:Linux

@NEXTERM:INPUT "Host to trace" "1.1.1.1"
TARGET=$NEXTERM_INPUT
tracepath -n "$TARGET"
@NEXTERM:INFO "Tracepath results above"