# @name:Network Interfaces
# @description:Show interfaces
# @Category:Network
# @Language:Bash
# @OS:Linux

@NEXTERM:STEP "Show interfaces"
ip -brief address
@NEXTERM:INFO "Interfaces displayed above"