# @name:Network Open Ports
# @description:List listening sockets
# @Category:Network
# @Language:Bash
# @OS:Linux

@NEXTERM:STEP "List listening sockets"
sudo ss -tulpn
@NEXTERM:WARN "Open ports shown above"