# @name:Network DNS Lookup
# @description:Runs network dns lookup.
# @Category:Network
# @Language:Bash
# @OS:Linux

@NEXTERM:INPUT "Domain to lookup" "example.com"
DOMAIN=$NEXTERM_INPUT
nslookup "$DOMAIN"
@NEXTERM:INFO "DNS lookup completed"