# @name:Find World Writable Files
# @description:Locate world-writable files outside /proc and /sys
# @Category:Security
# @Language:Bash
# @OS:Linux

find / -xdev -type f -perm -0002 ! -path "/proc/*" ! -path "/sys/*" 2>/dev/null
