# @name:System Top Memory Processes
# @description:Top memory consumers
# @Category:System
# @Language:Bash
# @OS:Linux

@NEXTERM:STEP "Top memory consumers"
ps -eo pid,cmd,%mem,%cpu --sort=-%mem | head -n 15
@NEXTERM:INFO "Top memory processes listed above"