# @name:System Failed Services
# @description:List failed services
# @Category:System
# @Language:Bash
# @OS:Linux

@NEXTERM:STEP "List failed services"
systemctl --failed
@NEXTERM:WARN "Review failed units above"